<!doctype html>
<html lang="es">

<head>
    {{ partial "head.html" . }}
    {{ block "style" . }}{{ end }}
</head>

<body>
    <div id="site-wrapper" class="relative overflow-hidden w-full">
        <div id="site-canvas" class="w-full h-full relative">
            {{ partial "nav.html" . }}
            <main id="main">
                {{ block "main" . }}{{ end }}
            </main>
            {{ partial "footer.html" . }}
        </div>
    </div>
    {{ partial "script.html" . }}
    {{ block "script" . }}{{ end }}
</body>

</html>
