{{ $dateTime := .PublishDate.Format "2006-01-02" }}
{{ $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}
<div class="flex items-center">
    <time datetime="{{ $dateTime }}">{{ .PublishDate.Format $dateFormat }}</time>
</div>
    {{ with .Params.tags }}
        <div class="py-4">
            {{ range . }}
                {{ $href := print (absURL "tags/") (urlize .) }}
                <a class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2" href="{{ $href }}">{{ . }}</a>
            {{ end }}
        </div>
{{ end }}
