<div class="bg-gray-100 prefers-dark:bg-gray-900 border-t-4 border-green-500">
    <div class="container mx-auto">
        <nav class="flex flex-wrap justify-end py-6 px-4">
            {{ $permalink := .Permalink }}
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
                {{ $text := .Name | safeHTML }}
                {{ $classes := "" }}
                {{ $classes := "" }}
                {{ $isBlogPost := (and (eq .Name "Blog") (in $permalink "/blog/")) }}
                {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) ($isBlogPost)  }}
                    {{ $classes = "font-semibold bg-gray-300 rounded-sm" }}
                {{ else }}
                    {{ $classes = "hover:bg-gray-300 hover:rounded-sm" }}
                {{end}}
                <a class="mr-6 first:-ml-2 p-2 uppercase text-gray-700 {{$classes}}" href="{{ .URL }}">{{ $text }}</a>
            {{ end }}
        </nav>
    </div>
</div>
