{{ define "main" }}

{{ $svgUrl := "static/svg/portada.svg" }}
{{ $miniTitle := "Web personal" }}
{{ partial "header-svg.html" (dict "context" . "svgUrl" $svgUrl "titleHeader" .Site.Title "miniTitle" $miniTitle "des" .Params.HomeText) }}
<div class="container mx-auto px-4">
    <h2 class="text-center my-8 title">{{ .Params.Subtitle }}</h2>
    <div class="mx-auto max-w-4xl text-lg sm:text-xl border border-gray-400 shadow rounded p-6 mb-4">
        <p class="mb-4">
            {{ .Params.Bio }}
        </p>
        <a href="{{ .Site.BaseURL }}sobre-mi" class="general-link">Más acerca de mí &rarr;</a>
    </div>
</div>
{{ partial "index/last-articles.html" . }}
{{ end }}
