<script type="text/javascript">
  (function() {
    const $bodyElement = document.getElementsByTagName('body')[0];
    const $svgOpen = document.getElementById('open-menu');
    const $svgClose = document.getElementById('close-menu');
    const $siteMenu = document.getElementById('site-menu');
    const $buttonNav = document.getElementById('sidebar-open');
    const CSS_CLASS_NAV = 'show-nav';
    let stateNav = 'closed';

    const closeMenuOnResize = debounce(function() {
      if ($bodyElement.classList.contains(CSS_CLASS_NAV) && window.screen.width > 639) {
        toggleNav();
      }
    }, 0);

    // Event listener
    $buttonNav.addEventListener('click', toggleNav);
    window.addEventListener('resize', closeMenuOnResize);

    //////////////////////////////////////////////////////////////

    function checkHideNav() {
      if (stateNav === 'opening') {
        addClassSvg($svgOpen, 'hidden');
        removeClassSvg($svgClose, 'hidden');
        $buttonNav.setAttribute('aria-label', 'Cerrar menú');
        stateNav = 'open';
      } else {
        removeClassSvg($svgOpen, 'hidden');
        addClassSvg($svgClose, 'hidden');
        $siteMenu.classList.add('hidden');
        $buttonNav.setAttribute('aria-label', 'Abrir menú');
        stateNav = 'closed';
      }
    }

    function toggleNav() {
      if ($bodyElement.classList.contains(CSS_CLASS_NAV)) {
        $bodyElement.classList.remove(CSS_CLASS_NAV);
        stateNav = 'closing';
      } else {
        $bodyElement.classList.add(CSS_CLASS_NAV);
        stateNav = 'opening';
        $siteMenu.classList.remove('hidden');
      }
      setTimeout(checkHideNav, 300);
    }

    function debounce(func, wait, immediate) {
      let timeout;
      return function() {
        let context = this;
        let args = arguments;
        const later = function() {
          timeout = null;
          if (!immediate) {
            func.apply(context, args);
          }
        };
        let callNow = immediate && !timeout;
        clearTimeout(timeout);
        timeout = setTimeout(later, wait);
        if (callNow) {
          func.apply(context, args);
        }
      };
    }

    // IE11 does not support classList on SVG element
    function addClassSvg(elem, className) {
      elem.setAttribute('class', elem.getAttribute('class') + ' ' + className);
    }

    function removeClassSvg(elem, className) {
      let removedClass = elem.getAttribute('class').replace(new RegExp('(\\s|^)' + className + '(\\s|$)', 'g'), '$2');
      elem.setAttribute('class', removedClass);
    }
  })();
</script>
